input {
  padding: 3px;
  margin-bottom: 25px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #000000;
  box-shadow: 0px 0px 5px 0px rgba(42, 42, 42, 0.75);
}

.users {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #4a4a4a;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.users__header {
  background: #000000;
  border-bottom: 3px solid #000000;
}

.users__label {
  font-size: 15px;
  font-weight: bold;
  color: #e6e6e6;
  text-align: center;
}

.users__label--data {
  border: 1px solid #000000;
  font-size: 13px;
  color: #e6e6e6;
}
